.wrap {
  width: 100vw;
  height: 1311px;
  background-image: url("/assets/2560/Innovate/new_iremo.jpeg");
  background-size: 100% 100%;
  background-position: center center;
  overflow: auto;
}
.top_img {
  margin-top: 80px;
  width: 915px;
  height: 80px;
}
.text {
  width: 672px;
  color: #373737;
  font-size: 18px;
}
.m_wrap {
  width: 100vw;
  height: 1094px;
  background-image: url("/assets/mobile/innovate/bg_2.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.m_top_img {
  width: 915px;
  height: 72px;
  margin-top: 80px;
}
.m_text {
  width: 672px;
  color: #373737;
  font-size: 18px;
}

