.wrap {
  width: 100vw;
  height: 1311px;
  background-image: url("/assets/2560/Innovate/new_iremo.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}
.top_img {
  margin-top: 80px;
  width: 915px;
  height: 80px;
}
.text {
  width: 672px;
  color: #373737;
  font-size: 18px;
}
