.modal{
	z-index: 50;
	/* padding: 160px 360px; */
	/* z-index: 1000000; */
}
.container{
	width: 1840px;
	height: 90vh;
	margin-left: -920px;
	margin-top: -45vh;
	top: 50%;
	left: 50%;
	/* margin-bottom: 200px; */
	/* height: 100%;
	margin:160px 360px;  */
	z-index: 70!important;
	/* padding-bottom:100px ; */
	padding-right: 60px;
	padding-top: 60px;
}
.wrap{
	padding-left:60px;
	padding-right: 20px;
}
.video{
	/* width: 1544px; */
	width: 90%;
	flex:0 0 853px;
	/* margin: 0 141px; */
}
.img{
	width: 817px;
	height: 487px;
}
.close{
	right: -70px;
	height: 57px;
	width: 57px;
	top: 0;
}
.btn{

}
.btns{
	margin-left: 100px;
	height: 140px;
}