.modal{
	z-index: 50;
	/* padding: 160px 360px; */
	/* z-index: 1000000; */
}
.m_modal{
	z-index: 50;
	top: 104px;
}
.m_content{
	width: 979px;
	height: 1484px;
	border-radius: 25px;
	box-shadow: 0px 11px 23px 0px 
		rgba(1, 1, 1, 0.2);
}
.m_btn_wrap{
	width: 979px;
	height: 91px;
}
.container{
	width: 1840px;
	height: 90vh;
	margin-left: -920px;
	margin-top: -45vh;
	top: 50%;
	left: 50%;
	/* margin-bottom: 200px; */
	/* height: 100%;
	margin:160px 360px;  */
	z-index: 70!important;
	/* padding-bottom:100px ; */
	padding-right: 60px;
	padding-top: 60px;
}
.wrap{
	padding-left:60px;
	padding-right: 20px;
}
.video{
	/* width: 1544px; */
	width: 90%;
	flex:0 0 853px;
	/* margin: 0 141px; */
}
.img{
	width: 817px;
	height: 487px;
}
.close{
	right: -70px;
	height: 57px;
	width: 57px;
	top: 0;
}
.btn{

}
.btns{
	margin-left: 100px;
	height: 140px;
}
.m_vieo_wrap{
	width: 901px;
	height: 500px;
}
.m_desc{
	padding: 0 80px;
}
.m_img{
	width: 664px;
	height: 402px;
}
.m_btn_1{
	width: 375px;
	height: 91px;
	border-radius: 15px;
	border: solid 2px #caa95c;
}
.m_btn_2{
	width: 281px;
	height: 91px;
	border-radius: 15px;
	border: solid 2px #caa95c;
}