.wrap {
  background-image: url("../../../../public/assets/2560/company/contact_bg.png");
  background-size: cover;
}

.title {
  height: 62px;
  width: 404px;
  margin-top: 117px;
  margin-bottom: 100px;
}
.item {
  width: 770px;
  height: 323px;
  padding-left: 76px;
  padding-top: 43px;
  background-image: url("../../../../public/assets/2560/company/grey_bg.png");
  background-size: cover;
}
.item_1 {
  width: 770px;
  height: 323px;
  padding-left: 76px;
  background: #eaeaea;
}
.img {
  width: 352px;
  height: 50px;
}
.location {
  width: 32px;
  height: 48px;
}
.address {
  font-size: 16px;
  color: #373737;
}
.mb_270 {
  margin-bottom: 270px;
}
