
.content {
  margin-top: 119px;
}
.item {
  margin: 0 20px;
  width: 596px;
  /* height: 533px; */
  box-shadow: 0px 15px 30px 0px rgba(1, 1, 1, 0.2);
}
.svg {
  width: 13px;
  height: 14px;
}
.desc {
  /* padding: 0 26px;
  padding-top: 6px; */
}
.line {
  height: 1px;
  width: 100%;
  background: #ececec;
}
.arrow {
  width: 34px;
  height: 25px;
}

.content_2 {
  margin-top: 60px;
}

.item_2 {
  width: 882px;
  /* height: 338px; */
  padding: 41px;
  /* padding-bottom: 51px; */
  box-shadow: 0px 15px 30px 0px rgba(1, 1, 1, 0.2);
}
.sm_img {
  width: 183px;
  /* width: 220px; */
  height: 246px;
  /* height: 100%; */
  margin-right: 13px;
}
.badge {
  background-color: #caa95c;
  color: #fff;
}

.icon{
  width: 25px;
	height: 25px;
}
.m_item{
  width: 991px;
  padding: 30px;
	height: 254px;
	box-shadow: 0px 11px 23px 0px 
		rgba(1, 1, 1, 0.2);
}
.m_img{
  width: 138px;
	height: 185px;
}
.m_line{
  width: 777px;
	height: 1px;
	/* opacity: 0.3; */
  background: #ccc;
}