.img {
  width: 596px;
  height: 350px;
}

.item {
  margin: 0 20px;
  /* margin-bottom: 20px; */
  /* padding-bottom: 20px; */
  width: 596px;
  height: 533px;
  margin-top: 43px;
  box-shadow: 0px 15px 30px 0px rgba(1, 1, 1, 0.2);
}
.svg {
  width: 13px;
  height: 14px;
}

.line {
  /* margin-top: 26px;
  margin-bottom: 16px; */
  height: 1px;
  width: 100%;
  background: #ececec;
}
.arrow {
  width: 34px;
  height: 25px;
}

.content_2 {
  margin-top: 60px;
}

.item_2 {
  margin: 0 23px;
  margin-bottom: 43px;
  padding: 27px;
  width: 915px;
  padding-bottom: 23px;
  /* height: 267px; */
  box-shadow: 0px 15px 30px 0px rgba(1, 1, 1, 0.2);
}
.sm_img {
  width: 346px;
  height: 210px;
  margin-right: 13px;
}
.m_sm_img {
  width: 389px;
	height: 236px;
}

.m_wrap{
    padding: 0 44px;

  /* width: 980px;
  height: 423px; */
}
/* .m_item_1{
  width: 472px;
	height: 423px;
	box-shadow: 0px 11px 23px 0px
		rgba(1, 1, 1, 0.2);
} */
.m_item_1{
  width: 472px;
	height: 473px;
	box-shadow: 0px 11px 23px 0px
		rgba(1, 1, 1, 0.2);
}
.m_img{
  /* width: 472px; */
  width: 100%;
	height: 302px;
}
.m_item_2{
  padding: 24px;
  width: 980px;
	height: 287px;
	box-shadow: 0px 11px 23px 0px
		rgba(1, 1, 1, 0.2);
}