.wrap {
  background-color: #f4f4f4;
}

.title {
  height: 62px;
  width: 404px;
  margin-top: 117px;
  margin-bottom: 40px;
}
.item {
  font-size: 18px;
  color: #fff;
}
.img {
  height: 152px;
  width: 262px;
  outline: 1px solid #ccc;
}
.mt_150 {
  margin-bottom: 150px;
}
