.ml_55 {
  margin-left: 55px;
}
.right {
  width: 460px;
  background: #f5f5f5;
}
.wx {
  right: 110px;
  top: 50%;
  margin-top: -19px;
}

.phone {
  /* right: 535px; */
  left: 0;
  top: 50%;
  margin-top: -19px;
}
.num {
  height: 38px;
  line-height: 38px;
  position: absolute;
  top: 50%;
  margin-top: -19px;
  /* right: 220px; */
  left: 38px;
}
.qrcode {
  width: 15rem;
  height: 0rem;
  bottom: -180px;
}

.m_phone{
  width: 44px;
  height: 44px;
}
.m_num{

}

.m_qrcode{
  width: 174px;
	height: 174px;
  bottom: 50px;
}