.ml_55 {
  margin-left: 55px;
}
.right {
  width: 550px;
  background: #f5f5f5;
}
.wx {
  right: 110px;
  top: 50%;
  margin-top: -19px;
}

.phone {
  left: 0px;
  top: 50%;
  margin-top: -19px;
}
.num {
  height: 38px;
  line-height: 38px;
  position: absolute;
  top: 50%;
  margin-top: -19px;
  left: 40px;
}
.qrcode {
  width: 15rem;
  height: 0rem;
  bottom: -180px;
}
