.container {
  padding-bottom: 275px;
}
.wrap {
  /* margin-top: 60px; */
}
.img_wrap {
  /* margin-left: 27px;
  margin-right: 27px; */
  box-shadow: 0px 11px 23px 0px 
		rgba(1, 1, 1, 0.2);
}
.img {
	width: 492px;
	height: 290px;
}
.sm_img {
  width: 132px;
  height: 132px;
}
.sm_img_wrap {
  width: 132px;
  height: 132px;
  left: 50%;
  top: 50%;
  transform: translate(-66px, -66px);
}
.title {
  width: 492px;
  height: 126px;
  padding-top: 30px;
  padding-left: 28px;
}
.big_title {
  font-size: 26px;
  font-weight: normal;
  font-stretch: normal;
  color: #373737;
}
.sm_title {
  margin-top: 20px;
}
.calendar {
  width: 13px;
  height: 16px;
  margin-right: 2px;
}
.date {
  font-size: 14px;
  padding-left: 2px;
  color: #868686;
}

.slide{
  width: 125px;
	height: 3px;
}