.wrap {
  width: 100vw;
  height: 1385px;
  background-image: url("/assets/2560/Innovate/new_irego.jpeg");
  background-size: cover;
  background-origin: content-box;
  background-repeat: no-repeat;
}
.top_img {
  width: 915px;
  height: 80px;
  margin-top: 80px;
}
.text {
  width: 672px;
  color: #373737;
  font-size: 18px;
}
