.banner {
  background-image: url("../../../../public/assets/2560/company/grey_bg_1.png");
  height: 760px;
  background-size: cover;
}
.banner_img {
  height: 210px;
  width: 654px;
}
.banner_text {
  width: 1260px;
}
.title {
  width: 103px;
  height: 33px;
  line-height: 33px;
  color: #fff;
  background: #caa95c;
}
.desc {
  color: #373737;
}
.left_img {
  width: 1012px;
  height: 729px;
}
.center_top {
  width: 532px;
  height: 454px;
}
.center_bottom {
  width: 532px;
  height: 275px;
  background: #caab53;
}

.right_top_img {
  width: 1016px;
  height: 364px;
}
.point {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.bg_primary {
  color: #caa95c !important;
}
.yellow{
  width: 160px;
  height: 66px;
  top: 50%;
  margin-top: -33px;
  left: 50%;
  margin-left: -80px;
}
.right_desc{
  width: 580px;
  height: 180px;
  top: 50%;
  margin-top: -90px;
  left: 50%;
  margin-left: -400px;
}