.nav_item {
  /* margin-top: 60px; */
}


.wrap {
  /* margin-top: 62px; */
}
.img {
  width: 481px;
  height: 340px;
}
.link {
  width: 162px;
  height: 46px;
  border-radius: 23px;
  border: solid 1px #ccc;
}
.m_link {
  width: 340px;
	height: 65px;
	border-radius: 28px;
	border: solid 2px #caa95c;
  font-size: 24px;
}
.active {
  background-color: #caa95c;
  color: #fff;
}
