.subtitle_wrap {
  margin-top: 88px;
  margin-bottom: 88px;
}
.subtitle {
  font-size: 24px;
}

.game {
  height: 400px;
  width: 1262px;
  border: 7px solid #ccc;
}
.m_game {
  height: 301px;
  width: 949px;
  border: 7px solid #ccc;
}
.m_game_img_2{
  width: 369px;
	height: 369px;
}
.game_img {
  width: 492px;
  height: 491px;
  margin: 0 40px;
}
.sm_img_1 {
  width: 164px;
  height: 144px;
  margin-right: 6px;
}
.sm_img_2 {
  width: 164px;
  height: 144px;
  margin-left: 6px;
}
.icon {
  width: 45px;
  height: 65px;
}
.sm_img_wrap {
  height: 336x;
  z-index: 999;
}
.wrap {
  flex: 0 0 2181px;
  height: 415px;
}
.m_game_img{
  width: 494px;
	height: 276px;
}

.desc{
  bottom: -55px;
}
.m_desc{
  bottom: 15px;
}