.title {
  height: 62px;
  width: 404px;
  margin-top: 65px;
  margin-bottom: 40px;
}
.ceo {
  width: 640px;
  height: 260px;
  box-shadow: 0px 15px 30px 0px rgba(1, 1, 1, 0.2);
  border-radius: 6px;
}
.img {
  width: 208px;
  height: 196px;
  /* border: solid 3px #e9e5e4; */
}
.m_img{
  width: 280px;
	height: 287px;
}
.manager {
  width: 286px;
  height: 447px;
  box-shadow: 0px 15px 30px 0px rgba(1, 1, 1, 0.2);
  border-radius: 6px;
}

@media screen and (min-width: 1080px){
  .wrap {
    padding: 0 129px;
  }
}

.expert {
  /* margin-top: 80px; */
  margin-bottom: 60px;
}
.box{
  
}
.expert_img_wrap {
  width: 667px;
  padding: 28px;
  /* height: 286px; */
  box-shadow: 0px 5px 10px 0px rgba(1, 1, 1, 0.2);
  border-radius: 6px;
}
.expert_img{
  height: 229px;
  width: 229px;
}
.right_arrow {
  width: 45px;
  height: 65px;
  opacity: 0.8;
  /* margin-left: 40px; */
}
.left_arrow {
  width: 45px;
  height: 55px;
  opacity: 0.8;
  /* margin-right: 40px; */
}

.slide{
  width: 125px;
	height: 3px;
}
.teamer{
  width: 506px;
	height: 260px;
	box-shadow: 0px 15px 12px 0px 
		rgba(1, 1, 1, 0.2);
	border-radius: 6px;
}
.point{
  font-size: 30px;
}

.m_ceo{
  width: 962px;
	height: 360px;
	box-shadow: 0px 15px 12px 0px 
		rgba(1, 1, 1, 0.2);
	border-radius: 6px;
}
.m_teamer{
  width: 468px;
	height: 716px;
	box-shadow: 0px 15px 15px 0px 
		rgba(1, 1, 1, 0.2);
	border-radius: 6px;
}
.m_img{
  width: 400px;
	height: 400px;
}