.u_img {
  width: 660px;
  height: 372px;
}
.big_title {
  margin-bottom: 30px;
  font-size: 30px;
  color: #fff;
}
.img_mid {
  margin: 0 20px;
}
.wrap {
  padding-bottom: 118px;
}
#interact {
  background-image: url("/assets/2560/gray-bg.jpeg");
  background-size: cover;
}
.m_big_img{
  width: 909px;
	height: 512px;
}
.m_sm_img{
  width: 450px;
	height: 264px;
}